@import url('https://use.typekit.net/xlz5zug.css');

$system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

//$fontstack-body: 'gill-sans-nova', sans-serif;
$fontstack-body: $system;
$fontstack-headings: 'gill-sans-nova', sans-serif;

$fontweight-normal: 400;
$fontweight-bold: 700;

$fontsize-xs: 12px;
$fontsize-small: 14px;
$fontsize-normal: 18px;
$fontsize-large: 24px;
$fontsize-xl: 48px;
$fontsize-xxl: 72px;

@mixin fontsize($base) {
    font-size: $base;
    line-height: $base * 1.35;
}
